<head>
  <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&amp;subset=cyrillic" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;subset=cyrillic" rel="stylesheet">
  <link href="https://mintrans.gov.ru/combine/1041e595086740f59ea99618b4f34f0e-1586953388" rel="stylesheet">

</head>

<body>
    <div class="header-top">
      <div class="container">
        <div class="topMenu-left">
          <div class="topMenu-icon" id="open-mobileMenu">
            <div class="topMenu-icon-line"></div>
            <div class="topMenu-icon-line"></div>
            <div class="topMenu-icon-line"></div>
          </div>
        </div>
        <div class="topMenu-mid">
          <nav class="topMenu-links">
            <a href="/ministry" class="topMenu-link fc-white ttu">Министерство</a>
            <a href="/activities" class="topMenu-link fc-white ttu">Деятельность</a>
            <a href="/documents" class="topMenu-link fc-white ttu">Документы</a>
            <a href="/press-center" class="topMenu-link fc-white ttu">Пресс-центр</a>
            <a href="/obrashcheniya-grazhdan" class="topMenu-link fc-white ttu tabletNone">Обращения граждан</a>
            <a href="/contacts" class="topMenu-link fc-white ttu tabletNone">Контакты</a>
            <div class="tabletMenu">
              <div class="tabletMenu-btn"></div>
              <div class="tabletMenu-wrap">
                <a href="/obrashcheniya-grazhdan" class="topMenu-link">обращения граждан</a>
                <a href="/contacts" class="topMenu-link">Контакты</a>
              </div>
            </div>
          </nav>
        </div>
        <div class="topMenu-right">
          <div class="topMenu-social">
            <a href="https://www.facebook.com/MintransRussia" class="social-item fb" target="_blank"></a>
            <a href="https://www.instagram.com/mintransrussia" class="social-item inst" target="_blank"></a>
            <a href="https://vk.com/mintransrussia" class="social-item vk" target="_blank"></a>
            <a href="https://twitter.com/MintransRF" class="social-item twit" target="_blank"></a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="header-bottom header-bottom-jubilee">
        <div class="header-bottom-left">
          <a href="/" class="logo-h"></a>
        </div>


        <div class="header-bottom-right">
          <div class="header-bottom-setting">
            <!-- <a data-fancybox="" data-src="#authorization-modal" class="setting-item"> <img src="https://mintrans.gov.ru/themes/mintrans/assets/images/icons/user-icon.svg" alt=""></a> -->
            <a href="/eye" class="setting-item">
              <img src="https://mintrans.gov.ru/themes/mintrans/assets/images/icons/eye-ic.svg" alt="">
            </a>

            <a href="#" class="setting-item" data-request="onSwitchLocale" data-request-data="locale: 'en'" data-request-redirect="/">ENG</a>
          </div>
        </div>

        <form action="/search" class="header-bottom-mid">
          <div class="custom-input search">
            <input name="value" type="text" placeholder="Поиск по сайту">
            <button class="custom-input-submit">
              <i></i>
            </button>
          </div>
        </form>
      </div>
    </div>
</body>
