<footer class="footer">
  <div class="menu-modal" id="main-menu" style="display: none;">
    <div class="container">
      <div class="mobile-menu-acc">
        <span id="close-mobileMenu" class="close-mobile-menu" title="Close">
          <span class="line"></span>
          <span class="line"></span>
        </span>

        <p class="menu-title link">Министерство</p>
        <div class="submenu">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 menu-modal-item">
              <a href="/ministry">
                О Министерстве
              </a>
              <a href="/ministry/targets">
                Цели и задачи
              </a>
              <a href="/ministry/structure">
                Структура
              </a>
              <a href="/ministry/podvedomstvennye-organizatsii-i-predpriyatiya">
                Подведомственные предприятия и учреждения
              </a>
              <a href="/ministry/transport-companies">
                Организации транспорта
              </a>
              <a href="/ministry/targets/140">
                Планирование деятельности
              </a>
              <a href="/ministry/gos-services/">
                Госуслуги
              </a>
              <a href="/ministry/results">
                Результаты деятельности
              </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 menu-modal-item">
              <a href="/ministry/gos-contract/">
                Госконтракт
              </a>
              <a href="/ministry/transport-education">
                Транспортное образование
              </a>
              <a href="/ministry/councils">
                Координационные и совещательные органы
              </a>
              <a href="/ministry/vacancies">
                Госслужба
              </a>
              <a href="/ministry/uniform">
                Форменная одежда
              </a>
              <a href="/ministry/transport-companies">
                Организации транспорта
              </a>
              <a href="https://history.mintrans.ru">
                История
              </a>
              <a href="/ministry/awards">
                Награды Министерства
              </a>
              <a href="/ministry/contacts">
                Контакты
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 menu-modal-item">
            <p class="menu-title link">Деятельность</p>
            <div class="submenu">
              <a href="/activities/214">
                Автомобильный транспорт
              </a>
              <a href="/activities/215">
                Дорожное хозяйство
              </a>
              <a href="/activities/216">
                Авиационный транспорт
              </a>
              <a href="/activities/222">
                Железнодорожный транспорт
              </a>
              <a href="/activities/226">
                Морской и речной транспорт
              </a>
              <a href="/activities/2">
                Транспортная безопасность
              </a>
              <a href="/activities/69">
                Международное сотрудничество
              </a>
              <a href="/activities/168">
                Пункты пропуска через государственную границу РФ
              </a>
              <a href="/activities/94">
                Научно-техническая деятельность
              </a>
              <a href="/transport_of_russian/">
                Транспорт России
              </a>
              <a href="/activities/anti-corruption">
                Противодействие коррупции
              </a>
              <a href="/activities/101">
                Открытое министерство
              </a>
              <a href="/activities/47">
                Доступная среда для инвалидов
              </a>
              <a href="/activities/179">
                Спорт в Минтрансе
              </a>
              <a href="/activities/196">
                Транспортное обеспечение мероприятий
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 menu-modal-item">
            <p class="menu-title link">Пресс-центр</p>
            <div class="submenu">
              <a href="/press-center/news">
                Новости
              </a>
              <a href="/press-center/previews">
                Анонсы
              </a>
              <a href="/press-center/interviews">
                Выступления и интервью
              </a>
              <a href="/press-center/photo-gallery">
                Фотогалерея
              </a>
              <a href="/press-center/video-gallery">
                Видеогалерея
              </a>
              <a href="/press-center/online-conf">
                Онлайн конференции
              </a>
              <a href="/press-center/media-reviews">
                Обзоры СМИ
              </a>
              <a href="/press-center/industry-media">
                Отраслевые СМИ
              </a>
              <a href="/press-center/spec-projects">
                Спецпроекты
              </a>
              <a href="/press-center/poll-and-questioning">
                Опросы и анкетирование
              </a>
              <a href="/press-center/contacs-smi">
                Контакты для СМИ
              </a>
            </div>
          </div>
        </div>
        <p class="menu-title link">Документы</p>
        <div class="submenu">
          <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 menu-modal-item">
              <a href="/documents?type=1">
                Законы, постановления
              </a>
              <a href="/documents?type=2">
                Приказы, распоряжения
              </a>
              <a href="/documents?type=3">
                Проекты нормативных правовых актов
              </a>
              <a href="/documents?type=4">
                Уведомления о подготовке проектов нормативных правовых актов
              </a>
              <a href="/documents?type=5">
                Экспертиза проектов нормативных правовых актов
              </a>
              <a href="/documents?type=6">
                Формы и шаблоны
              </a>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 menu-modal-item">
              <a href="/documents?type=7">
                Информационные и Аналитические материалы
              </a>
              <a href="/documents?type=11">
                Отчеты
              </a>
              <a href="/documents?type=8">
                Рабочие материалы
              </a>
              <a href="/documents?type=12">
                Повестки
              </a>
              <a href="/documents?type=15">
                Протоколы
              </a>
              <a href="/documents?type=16">
                Стенограммы
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 menu-modal-item">
            <p class="menu-title link">Обращения граждан</p>
            <div class="submenu">
              <a href="/documents?type=1">
                Законы, постановления
              </a>
              <a href="/obrashcheniya-grazhdan/contacts/">
                Контактная информация
              </a>
              <a
                href="/obrashcheniya-grazhdan/kompetentsiya-i-normativnye-pravovye-dokumenty"
              >
                Компетенция и нормативные правовые документы, определяющие
                порядок работы с обращениям граждан'
              </a>
              <a href="/obrashcheniya-grazhdan/reception">
                Подать электронное обращение
              </a>
              <a href="/obrashcheniya-grazhdan/lichnyy-priem-grazhdan">
                Личный приём
              </a>
              <a href="/obrashcheniya-grazhdan/reviews">
                Информация о работе с обращениями граждан
              </a>
              <a href="/obrashcheniya-grazhdan/faq">
                Часто задаваемые вопросы
              </a>
              <a href="/obrashcheniya-grazhdan/polls">
                Опросы
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 menu-modal-item">
            <p class="menu-title link">О сайте</p>
            <div class="submenu">
              <a href="/copyrights/usloviya-ispolzovaniya-informatsii-sayta">
                Условия использования
              </a>
              <a href="/copyrights/reglament-sayta">
                Регламент публикации материалов
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-top">
      <nav class="footer-menu">
        <a href="/ministry" class="footer-menu-link fc-white">Министерство</a>
        <a href="/activities" class="footer-menu-link fc-white">Деятельность</a>
        <a href="/documents" class="footer-menu-link fc-white">Документы</a>
        <a href="/press-center" class="footer-menu-link fc-white"
        >Пресс-служба</a
        >
        <a href="/obrashcheniya-grazhdan" class="footer-menu-link fc-white"
        >Обращения граждан</a
        >
        <a href="/contacts" class="footer-menu-link fc-white">Контакты</a>
        <a href="/activities/101" class="footer-menu-link fc-white"
        >Открытое министерство</a
        >
        <a href=" /activities/anti-corruption" class="footer-menu-link fc-white"
        >Противодействие коррупции</a
        >
      </nav>
    </div>
    <div class="footer-bottom">
      <nav class="footer-sub-menu">
        <a href="/copyrights" class="footer-subMenu-link fc-white">О сайте</a>
        <a
          href="https://mail.mintrans.ru/owa/auth/logon.aspx?url=https://mail.mintrans.ru/owa/&amp;reaso"
          target="_blank"
          class="footer-subMenu-link fc-white"
        >Почта Минтранс</a
        >
        <a href="mailto:web@mintrans.ru" class="footer-subMenu-link fc-white">
          Написать в редакцию <span class="fc-defLink">web@mintrans.ru</span></a
        >
      </nav>
      <div class="footer-bottom-left mobNone">
        <!-- скрываем на телефоне -->
        <p class="fc-white">
          © 2010 – 2020 Официальный Интернет-ресурс Министерства транспорта
          Российской Федерации
        </p>
        <p class="fc-white">
          Все права на материалы, находящиеся на сайте,охраняются в соответствии
          с законодательством Российской Федерации
          <span class="tabNone"
          >Нашли ошибку? Выделите ее и нажмите ctrl+Enter</span
          >
        </p>
      </div>
      <div class="footer-bottom-right">
        <a class="footer-right-item" href="http://kremlin.ru/" target="_blank">
          <img
            src="https://mintrans.gov.ru/themes/mintrans/assets/images/icons/footer-gerb.png"
            alt=""
          />
          <p class="fc-white">Официальный сайт президента РФ</p>
        </a>
        <a
          class="footer-right-item"
          href="http://government.ru/"
          target="_blank"
        >
          <img
            src="https://mintrans.gov.ru/themes/mintrans/assets/images/icons/footer-home.png"
            alt=""
          />
          <p class="fc-white">Официальный интернет-портал правительства РФ</p>
        </a>
      </div>
    </div>
    <div class="footer-cookies">
      <p>
        Для повышения удобства работы с сайтом Минтранса России
        <a
          href="/copyrights/o-personalnykh-dannykh-polzovateley"
          target="_blank"
        >использует файлы cookie</a
        >. В cookie содержатся данные о прошлых посещениях сайта. Если вы не
        хотите, чтобы эти данные обрабатывались, отключите cookie в настройках
        браузера.
      </p>
    </div>
    <style></style>
  </div>

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (d, w, c) {
      (w[c] = w[c] || []).push(function () {
        try {
          w.yaCounter27216380 = new Ya.Metrika({
            id: 27216380,
            webvisor: true,
            clickmap: true,
            trackLinks: true,
            accurateTrackBounce: true
          });
        } catch (e) {}
      });

      var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () {
          n.parentNode.insertBefore(s, n);
        };
      s.type = "text/javascript";
      s.async = true;
      s.src =
        (d.location.protocol == "https:" ? "https:" : "http:") +
        "//mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
      } else {
        f();
      }
    })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript
  ><div>
    <img
      src="//mc.yandex.ru/watch/27216380"
      style="position: absolute; left: -9999px;"
      alt=""
    /></div
  ></noscript>
  <!-- /Yandex.Metrika counter -->
</footer>
